.fx-viewer {
    -fx-background-color: white;

    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 300px;
    -fx-pref-width: 400px;
}

/* axisGroup - group containing all axis in viewer */
.viewer-axis {

}

/* MiniAxisView - root style*/
.mini-axis-view {

}
